.cart-link {
    margin-left: auto;
    text-decoration: none;
  }
  
  .cart-link-text {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: normal;
    font-size: 0.8rem;
    color: #333;
  }
  